@import "tailwindcss";

@theme {
  /* Colors */
  --color-neutral-*: initial;
  --color-neutral-1: #fcfcfc;
  --color-neutral-2: #f8f8f8;
  --color-neutral-3: #f3f3f3;
  --color-neutral-4: #ededed;
  --color-neutral-5: #e8e8e8;
  --color-neutral-6: #e2e2e2;
  --color-neutral-7: #dbdbdb;
  --color-neutral-8: #c7c7c7;
  --color-neutral-9: #8f8f8f;
  --color-neutral-10: #858585;
  --color-neutral-11: #6f6f6f;
  --color-neutral-12: #171717;

  --color-accent-*: initial;
  --color-accent-1: #fbfdff;
  --color-accent-2: #f4faff;
  --color-accent-3: #e6f4ff;
  --color-accent-4: #d5efff;
  --color-accent-5: #c2e5ff;
  --color-accent-6: #acd8fc;
  --color-accent-7: #8ec8f6;
  --color-accent-8: #5eb1ef;
  --color-accent-9: #0090ff;
  --color-accent-10: #0588f0;
  --color-accent-11: #0d74ce;
  --color-accent-12: #113264;

  --color-accent-secondary-*: initial;
  --color-accent-secondary-1: #fdfcfe;
  --color-accent-secondary-2: #fbf7fe;
  --color-accent-secondary-3: #f7edfe;
  --color-accent-secondary-4: #f2e2fc;
  --color-accent-secondary-5: #ead5f9;
  --color-accent-secondary-6: #e0c4f4;
  --color-accent-secondary-7: #d1afec;
  --color-accent-secondary-8: #be93e4;
  --color-accent-secondary-9: #8e4ec6;
  --color-accent-secondary-10: #8347b9;
  --color-accent-secondary-11: #8145b5;
  --color-accent-secondary-12: #402060;

  --color-fg: var(--color-neutral-12);
  --color-bg: white;
  --color-focus-ring: var(--color-accent-9);

  /* Border Radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;
}

[data-appearance="dark"] {
  --color-neutral-1: #111111;
  --color-neutral-2: #191919;
  --color-neutral-3: #222222;
  --color-neutral-4: #2a2a2a;
  --color-neutral-5: #313131;
  --color-neutral-6: #3a3a3a;
  --color-neutral-7: #484848;
  --color-neutral-8: #606060;
  --color-neutral-9: #6e6e6e;
  --color-neutral-10: #7b7b7b;
  --color-neutral-11: #b4b4b4;
  --color-neutral-12: #eeeeee;

  --color-accent-1: #0d1520;
  --color-accent-2: #111927;
  --color-accent-3: #0d2847;
  --color-accent-4: #003362;
  --color-accent-5: #004074;
  --color-accent-6: #104d87;
  --color-accent-7: #205d9e;
  --color-accent-8: #2870bd;
  --color-accent-9: #0090ff;
  --color-accent-10: #3b9eff;
  --color-accent-11: #70b8ff;
  --color-accent-12: #c2e6ff;

  --color-bg: #0a0a0a;
  --color-fg: var(--color-neutral-12);
}

@layer base {
  * {
    @apply border-neutral-6;
  }
  body {
    @apply bg-bg text-fg;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
